html {
  font-family: Helvetica;
  font-size: 11pt;
  color: #222;
  quotes: "\00BB" "\00AB";
}

body {
  padding: 0;
  margin: 0;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

header {
  margin: 0;
  border-width: 0;
  padding: 6rem 20vw;
  background-color: #222;
  /*background-image: ;*/
  background:
    linear-gradient(rgba(120,200,255,1.0),rgba(120,200,255,1.0)),
    url(../banner.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  /*filter: grayscale(100%);*/
  background-blend-mode: multiply;
  /*border-bottom: solid 5px #ccc;*/
}

img.cv-photo {
  /*display: block;*/
  border-radius: 50%;
  width: 6cm;
  border: solid 10px #222;
  position: absolute;
  top: 20rem;
  left: 65vw;
  z-index: 1;
}

.cv-header {
  width: 45rem;
  text-align: center;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
}

.cv-header-name {
  border-bottom: solid 2px white;
  padding: 1rem;
  margin: 1rem;
}

.cv-header-name-first {
  font-weight: lighter;
}

.cv-header-name-last {
  font-weight: bolder;
}

.cv-header-cv {
  display: block;
  font-family: cursive;
  font-size: large;
  /*margin: 1rem;*/
  margin-top: -1.8rem;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background:
    url(../banner.jpg) no-repeat center,
    linear-gradient(rgba(120,200,255,1.0),rgba(120,200,255,1.0));
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
  font-weight: bold;
}

.cv-header-info {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 1.5rem;
  font-size: normal;
  font-weight: bold;
}

.cv-header-info-location {
  width: 50%;
  /*height: 7rem;*/
  /*display: table-cell;*/
  /*display: inline;*/
  text-align: right;
  margin: 0;
  padding: 1.5rem;
  border-right: solid 2px white;
  box-sizing: border-box;
}

.cv-header-info-contact {
  font-family: monospace;
  width: 50%;
  /*height: 7rem;*/
  /*display: table-cell;*/
  /*display:inline-block;*/
  text-align: left;
  padding: 1.5rem;
  margin: 0;
  box-sizing: border-box;
}

i {
  width: 1rem;
  text-align: center;
}

.cv-header-info-contact-email {
}

.cv-header-info-location-postcode {
  display: inline;
}
.cv-header-info-location-city {
  display: inline-block;
}

.cv-header-birth {
  font-style: italic;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}

footer {
  background-color: #222;
  /*background:
    linear-gradient(rgba(34,34,34,1.0),rgba(5,30,80,1.0)),
    url(../banner.jpg) no-repeat center;
  background-size: cover;
  background-blend-mode: multiply;*/
  color: white;
  padding: 2rem 20vw;
}

footer {
  font-weight: bold;
  font-size: small;
}

footer div.copyright{
  display: inline;
  /*text-align: left;*/
  /*float: left;*/
}

footer div.note {
  display: inline;
  text-align: right;
  float: right;
}

nav {
  margin: 0;
  padding: 2rem;
  background-color: #222;
  color: white;
  /*background: linear-gradient(#aaa,#fff);*/
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav li {
  display: inline;
  padding: 1rem;
  margin: 1rem 0;
  /*border: solid 2px black;*/
  /*border-left: solid 2px #222;*/
  text-decoration: none;
  font-weight: bold;
  font-size: 110%;
  /*font-family: sans-serif;*/
}

main {
  align: center;
  margin: 1rem 1rem;
  padding: 1rem;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

h1.cv-section {
  color: #35a;
  border-bottom: solid 2px #222;
  padding: 0.2rem 0;
  margin: 1rem 0;
}

div.cv-education-location,
div.cv-skills-kind,
div.cv-work-location {
  background-color: #eef;
  font-weight: bold;
  font-style: italic;
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 5px;
  /*background: url("../banner.jpg") no-repeat center, rgba(120,200,255,1.0);
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;
  color: white;*/
}

div.cv-education-item,
div.cv-interests-item,
div.cv-skills-item,
div.cv-work-item {
  /*display: block;*/
  display: flex;
  /*border: solid 1px #222;*/
  margin: 1rem;
}

div.cv-education-item-time,
div.cv-interests-item-kind,
div.cv-skills-item-name,
div.cv-skills-item-kind,
div.cv-work-item-time {
  /*display: table-cell;*/
  /*display: inline;*/
  width: 20%;
  font-style: italic;
  font-size: small;
  /*float: left;*/
  border-right: solid 2px #222;
  padding: 1rem 2rem;
  text-align: right;
  /*margin: 0;*/
}

div.cv-education-item-content,
div.cv-interests-item-content,
div.cv-skills-item-content,
div.cv-skills-item-level,
div.cv-work-item-content {
  /*display: table-cell;*/
  /*display: inline-block;*/
  width: 70%;
  /*float: left;*/
  /*margin: 5rem;*/
  padding: 0.5rem 2rem;
  /*margin: 0;*/
  /*border: solid 1px #222;*/
}