html {
  font-family: Helvetica;
  font-size: 11pt;
  line-height: 1.5rem;
  color: #222;
  quotes: "\00BB" "\00AB";
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  /*display: flex;*/
  /*flex-direction: column;*/
}

p {
  text-align: justify;
  text-justify: inter-word;
}

header {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  vertical-align: middle;
  box-sizing: border-box;

  margin: 0;
  border-width: 0;
  /*padding: 0rem 20vw;*/
  height: 50vh;
  background-color: #222;
  /*background-image: ;*/
  background:
    linear-gradient(rgba(120,200,255,1.0),rgba(120,200,255,1.0)),
    url("/images/banner.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  /*filter: grayscale(100%);*/
  background-blend-mode: multiply;
  /*border-bottom: solid 10px #222;*/
}

.site-background {
  background:
    linear-gradient(rgba(120,200,255,1.0),rgba(120,200,255,1.0)),
    url("/images/banner.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
}

.site-header-nav-transition,
.site-background {
  display: block;
  margin: 0;
  height: 15vh;
  padding: 0;
}

.site-header-nav-transition {
  background: linear-gradient(rgba(32,32,32,0), rgba(32,32,32,1));
  margin-top: -15vh;
  /*background-color: red;*/
  /*position: static;*/
  /*width: 100vw;*/
  /*height: 15vh;*/
  /*left: 0;*/
  /*top: -15vh;*/
  /*padding: 0;*/
  /*margin: -15vh;*/
  /*z-index: 99;*/
}

div.outro {
  margin: 0;
  /*padding: 1rem;*/
  display: block;
  height: 30vh;
  background:
    linear-gradient(rgba(120,200,255,1.0),rgba(120,200,255,1.0)),
    url("/images/banner.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  background-blend-mode: multiply;
  /*border-top: solid 10px #222;*/
}

.site-footer-outro-transition {
  display: block;
  position: absolute; /* Make sure it is drawn last. */
  margin: 0;
  width: 100%;
  height: 15vh;
  padding: 0;
  background: linear-gradient(rgba(32,32,32,1), rgba(32,32,32,0));
  /*background-color: red;*/
  /*margin-bottom: -10vh;*/
}

/*div.cv-photo {
  display: inline;
  margin: 0;
  padding: 0;
  width: 45rem;
}*/

img.cv-photo {
  display: inline;
  border-radius: 50%;
  width: 12vmax;
  height: 12vmax;
  /*border: solid 10px #222;*/
  margin: auto;
  /*position: absolute;*/
  /*top: 20rem;*/
  /*left: 65vw;*/
  z-index: 1;
  box-shadow: 0px 0px 20px 10px #222;
}

div.cv-header {
  /*width: 40vw;*/
  text-align: center;
  display: inline;
  margin: auto;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
}

@media screen and (min-width: 45rem) {
  div.cv-header {
    width: 45rem;
  }
}

.cv-header a {
  text-decoration: none;
  color: inherit;
}

.cv-header a:hover {
  color: white;
  text-shadow: 0 0 10px white;
}

main a {
  text-decoration: none;
  color: #777;
}

main a:hover {
  color: #222;
  text-shadow: 0 0 10px #222;
}

.cv-header-name {
  border-bottom: solid 2px white;
  padding: 1rem;
  margin: 1rem;
}

.cv-header-name-first {
  font-weight: lighter;
}

.cv-header-name-last {
  font-weight: bolder;
}

.cv-header-cv {
  display: block;
  font-family: cursive;
  font-size: large;
  /*margin: 1rem;*/
  margin-top: -1.8rem;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background:
    url("/images/banner.jpg") no-repeat center,
    linear-gradient(rgba(120,200,255,1.0),rgba(120,200,255,1.0));
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
  font-weight: bold;
}

.cv-header-info {
  width: 100%;
  display: block;
  margin: auto;
  line-height: 1.5rem;
  font-size: normal;
  font-weight: bold;
}

@media screen and (min-width: 40rem) {
  .cv-header-info {
    display: flex;
  }
}

.cv-header-info-location {
  /*height: 7rem;*/
  /*display: table-cell;*/
  /*display: inline;*/
  text-align: center;
  margin: 0;
  padding: 1.5rem;
  box-sizing: border-box;
  border-bottom: solid 2px white;
}

@media screen and (min-width: 40rem) {
  .cv-header-info-location {
    width: 50%;
    text-align: right;
    border-bottom-width: 0;
    border-right: solid 2px white;
  }
}

.cv-header-info-contact {
  font-family: monospace;
  /*height: 7rem;*/
  /*display: table-cell;*/
  /*display:inline-block;*/
  text-align: center;
  padding: 1.5rem;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 40rem) {
  .cv-header-info-contact {
    width: 50%;
    text-align: left;
  }
}

i {
  width: 1rem;
  text-align: center;
}

.cv-header-info-contact-email {
}

.cv-header-info-location-postcode {
  display: inline;
}
.cv-header-info-location-city {
  display: inline-block;
}

.cv-header-birth {
  font-style: italic;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}

footer {
  background-color: #222;
  /*background: transparent;*/
  /*background:
    linear-gradient(rgba(34,34,34,1.0),rgba(5,30,80,1.0)),
    url("/images/banner.jpg") no-repeat center;
  background-size: cover;
  background-blend-mode: multiply;*/
  color: white;
  /*padding: 2rem 20vw;*/
  /*padding: 2rem;*/
  margin: 0;
  font-weight: bold;
  font-size: small;
  display: flex;
  justify-content: space-between;
  /*position: sticky;*/
  /*position: relative;*/
  /*z-index: 1;*/
  /*bottom: 0;*/
}

.site-footer-left,
.site-footer-right {
  display: flex;
}

footer div.copyright {
  background-color: #222;
  display: inline;
  /*text-align: left;*/
  /*float: left;*/
  margin: 0;
  padding: 1rem;
  padding-left: 5vw;
  /*width: 15vw;*/
  position: relative;
  z-index: 1;
}

footer div.note {
  display: inline;
  text-align: right;
  /*float: right;*/
  /*font-variant: small-caps;*/
  padding: 1rem;
  padding-right: 5vw;
  background-color: #222;
  /*width: 15vw;*/
  margin: 0;
  /*margin-left: auto;*/
  position: relative;
  z-index: 1;
}

div.site-footer-tab-right {
  /*float: left;*/
  /*height: 2rem;*/
  display: inline;
  margin: 0;
  /*padding: 1rem;*/
  width: 4rem;
  /*height: 3.5rem;*/
  background-color: #222;
  clip-path: polygon(
    0 0,
    0% 0.669285%,
    1% 0.739154%,
    2% 0.816257%,
    3% 0.90133%,
    4% 0.99518%,
    5% 1.09869%,
    6% 1.21284%,
    7% 1.33869%,
    8% 1.4774%,
    9% 1.63025%,
    10% 1.79862%,
    11% 1.98403%,
    12% 2.18813%,
    13% 2.4127%,
    14% 2.6597%,
    15% 2.93122%,
    16% 3.22955%,
    17% 3.55712%,
    18% 3.91657%,
    19% 4.31073%,
    20% 4.74259%,
    21% 5.21536%,
    22% 5.73242%,
    23% 6.29734%,
    24% 6.91384%,
    25% 7.58582%,
    26% 8.31727%,
    27% 9.1123%,
    28% 9.97505%,
    29% 10.9097%,
    30% 11.9203%,
    31% 13.0108%,
    32% 14.1851%,
    33% 15.4465%,
    34% 16.7982%,
    35% 18.2426%,
    36% 19.7816%,
    37% 21.4165%,
    38% 23.1475%,
    39% 24.974%,
    40% 26.8941%,
    41% 28.905%,
    42% 31.0025%,
    43% 33.1812%,
    44% 35.4344%,
    45% 37.7541%,
    46% 40.1312%,
    47% 42.5557%,
    48% 45.0166%,
    49% 47.5021%,
    50% 50%,
    51% 52.4979%,
    52% 54.9834%,
    53% 57.4442%,
    54% 59.8688%,
    55% 62.2459%,
    56% 64.5656%,
    57% 66.8188%,
    58% 68.9974%,
    59% 71.0949%,
    60% 73.1059%,
    61% 75.026%,
    62% 76.8525%,
    63% 78.5835%,
    64% 80.2184%,
    65% 81.7574%,
    66% 83.2018%,
    67% 84.5535%,
    68% 85.8149%,
    69% 86.9892%,
    70% 88.0797%,
    71% 89.0903%,
    72% 90.025%,
    73% 90.8877%,
    74% 91.6827%,
    75% 92.4142%,
    76% 93.0862%,
    77% 93.7027%,
    78% 94.2676%,
    79% 94.7846%,
    80% 95.2574%,
    81% 95.6893%,
    82% 96.0834%,
    83% 96.4429%,
    84% 96.7705%,
    85% 97.0688%,
    86% 97.3403%,
    87% 97.5873%,
    88% 97.8119%,
    89% 98.016%,
    90% 98.2014%,
    91% 98.3698%,
    92% 98.5226%,
    93% 98.6613%,
    94% 98.7872%,
    95% 98.9013%,
    96% 99.0048%,
    97% 99.0987%,
    98% 99.1837%,
    99% 99.2608%,
    100% 100%,
    0 100%
  );
}

div.site-footer-tab-left {
  /*margin-left: auto;*/
  /*float: right;*/
  /*height: 2rem;*/
  margin: 0rem;
  margin-right: -0.1rem;
  /*padding: 0.5rem;*/
  width: 4rem;
  display: inline;
  /*height: 3.5rem;*/
  background-color: #222;
  clip-path: polygon(
    100% 0,
    100% 100%,
    0 100%,
    0% 99.3307%,
    1% 99.2608%,
    2% 99.1837%,
    3% 99.0987%,
    4% 99.0048%,
    5% 98.9013%,
    6% 98.7872%,
    7% 98.6613%,
    8% 98.5226%,
    9% 98.3698%,
    10% 98.2014%,
    11% 98.016%,
    12% 97.8119%,
    13% 97.5873%,
    14% 97.3403%,
    15% 97.0688%,
    16% 96.7705%,
    17% 96.4429%,
    18% 96.0834%,
    19% 95.6893%,
    20% 95.2574%,
    21% 94.7846%,
    22% 94.2676%,
    23% 93.7027%,
    24% 93.0862%,
    25% 92.4142%,
    26% 91.6827%,
    27% 90.8877%,
    28% 90.0249%,
    29% 89.0903%,
    30% 88.0797%,
    31% 86.9892%,
    32% 85.8149%,
    33% 84.5535%,
    34% 83.2018%,
    35% 81.7574%,
    36% 80.2184%,
    37% 78.5835%,
    38% 76.8525%,
    39% 75.026%,
    40% 73.1059%,
    41% 71.0949%,
    42% 68.9975%,
    43% 66.8188%,
    44% 64.5656%,
    45% 62.2459%,
    46% 59.8688%,
    47% 57.4443%,
    48% 54.9834%,
    49% 52.4979%,
    50% 50%,
    51% 47.5021%,
    52% 45.0166%,
    53% 42.5558%,
    54% 40.1312%,
    55% 37.7541%,
    56% 35.4344%,
    57% 33.1812%,
    58% 31.0026%,
    59% 28.9051%,
    60% 26.8941%,
    61% 24.974%,
    62% 23.1475%,
    63% 21.4165%,
    64% 19.7816%,
    65% 18.2426%,
    66% 16.7982%,
    67% 15.4465%,
    68% 14.1851%,
    69% 13.0108%,
    70% 11.9203%,
    71% 10.9097%,
    72% 9.97505%,
    73% 9.1123%,
    74% 8.31727%,
    75% 7.58582%,
    76% 6.91384%,
    77% 6.29734%,
    78% 5.73242%,
    79% 5.21536%,
    80% 4.74259%,
    81% 4.31073%,
    82% 3.91657%,
    83% 3.55712%,
    84% 3.22955%,
    85% 2.93122%,
    86% 2.6597%,
    87% 2.4127%,
    88% 2.18813%,
    89% 1.98403%,
    90% 1.79862%,
    91% 1.63025%,
    92% 1.4774%,
    93% 1.33869%,
    94% 1.21284%,
    95% 1.09869%,
    96% 0.99518%,
    97% 0.90133%,
    98% 0.816257%,
    99% 0.739154%,
    100% 0,
    100% 100%
  );
}

nav {
  margin: 0;
  margin-top: -1px;
  padding: 0 auto;
  background-color: #222;
  /*background: transparent;*/
  color: white;
  /*background: linear-gradient(#aaa,#fff);*/
  /*text-align: center;*/
  /*align-items: center;*/
  position: sticky;
  /*box-sizing: border-box;*/
  top: -1px;
  z-index: 0;
  /*shape-outside: polygon(0% 0%, 100% 0%, 50% 100%);*/
  /*clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 90% 20%, 88% 25%, 86% 45%, 84% 75%, 82% 95%, 80% 100%, 20% 100%);*/
  /*shape-outside: circle(50%);*/
  display: block;
  /*width: 500px;*/
  /*height: 100px;*/
}

nav ul {
  padding: 0;
  margin: 0;
  /*font-size: 0;*/
  display: flex;
  /*flex-direction: row;*/
  /*align-content: space-between;*/
  /*align-items: center;*/
  /*text-align: center;*/
  justify-content: center;
  /*width: 80vw;*/
}

nav a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  display: inline;
}

nav li {
  background: #222;
  /*display: table-cell;*/
  padding: 1.2rem;
  width: 6rem;
  text-align: center;
  margin: 0;
  list-style-type: none;
  /*height: 0rem;*/
  /*vertical-align: center;*/
  /*background-clip: border-box;
  /*margin: 0;*/
  /*border-width: 0;*/
  /*margin: 1rem 0;*/
  /*border: solid 2px black;*/
  /*border-left: solid 2px #222;*/
  /*text-decoration: none;*/
  font-weight: bold;
  font-size: normal;
  /*font-family: sans-serif;*/
}

li.site-nav-right {
  width: 3rem;
  clip-path: polygon(
    0 0,
    0 100%,
    0% 99.3307%,
    1% 99.2608%,
    2% 99.1837%,
    3% 99.0987%,
    4% 99.0048%,
    5% 98.9013%,
    6% 98.7872%,
    7% 98.6613%,
    8% 98.5226%,
    9% 98.3698%,
    10% 98.2014%,
    11% 98.016%,
    12% 97.8119%,
    13% 97.5873%,
    14% 97.3403%,
    15% 97.0688%,
    16% 96.7705%,
    17% 96.4429%,
    18% 96.0834%,
    19% 95.6893%,
    20% 95.2574%,
    21% 94.7846%,
    22% 94.2676%,
    23% 93.7027%,
    24% 93.0862%,
    25% 92.4142%,
    26% 91.6827%,
    27% 90.8877%,
    28% 90.0249%,
    29% 89.0903%,
    30% 88.0797%,
    31% 86.9892%,
    32% 85.8149%,
    33% 84.5535%,
    34% 83.2018%,
    35% 81.7574%,
    36% 80.2184%,
    37% 78.5835%,
    38% 76.8525%,
    39% 75.026%,
    40% 73.1059%,
    41% 71.0949%,
    42% 68.9975%,
    43% 66.8188%,
    44% 64.5656%,
    45% 62.2459%,
    46% 59.8688%,
    47% 57.4443%,
    48% 54.9834%,
    49% 52.4979%,
    50% 50%,
    51% 47.5021%,
    52% 45.0166%,
    53% 42.5558%,
    54% 40.1312%,
    55% 37.7541%,
    56% 35.4344%,
    57% 33.1812%,
    58% 31.0026%,
    59% 28.9051%,
    60% 26.8941%,
    61% 24.974%,
    62% 23.1475%,
    63% 21.4165%,
    64% 19.7816%,
    65% 18.2426%,
    66% 16.7982%,
    67% 15.4465%,
    68% 14.1851%,
    69% 13.0108%,
    70% 11.9203%,
    71% 10.9097%,
    72% 9.97505%,
    73% 9.1123%,
    74% 8.31727%,
    75% 7.58582%,
    76% 6.91384%,
    77% 6.29734%,
    78% 5.73242%,
    79% 5.21536%,
    80% 4.74259%,
    81% 4.31073%,
    82% 3.91657%,
    83% 3.55712%,
    84% 3.22955%,
    85% 2.93122%,
    86% 2.6597%,
    87% 2.4127%,
    88% 2.18813%,
    89% 1.98403%,
    90% 1.79862%,
    91% 1.63025%,
    92% 1.4774%,
    93% 1.33869%,
    94% 1.21284%,
    95% 1.09869%,
    96% 0.99518%,
    97% 0.90133%,
    98% 0.816257%,
    99% 0.739154%,
    100% 0);
}

li.site-nav-left {
  width: 3rem;
  clip-path: polygon(
    0 0,
    0% 0.669285%,
    1% 0.739154%,
    2% 0.816257%,
    3% 0.90133%,
    4% 0.99518%,
    5% 1.09869%,
    6% 1.21284%,
    7% 1.33869%,
    8% 1.4774%,
    9% 1.63025%,
    10% 1.79862%,
    11% 1.98403%,
    12% 2.18813%,
    13% 2.4127%,
    14% 2.6597%,
    15% 2.93122%,
    16% 3.22955%,
    17% 3.55712%,
    18% 3.91657%,
    19% 4.31073%,
    20% 4.74259%,
    21% 5.21536%,
    22% 5.73242%,
    23% 6.29734%,
    24% 6.91384%,
    25% 7.58582%,
    26% 8.31727%,
    27% 9.1123%,
    28% 9.97505%,
    29% 10.9097%,
    30% 11.9203%,
    31% 13.0108%,
    32% 14.1851%,
    33% 15.4465%,
    34% 16.7982%,
    35% 18.2426%,
    36% 19.7816%,
    37% 21.4165%,
    38% 23.1475%,
    39% 24.974%,
    40% 26.8941%,
    41% 28.905%,
    42% 31.0025%,
    43% 33.1812%,
    44% 35.4344%,
    45% 37.7541%,
    46% 40.1312%,
    47% 42.5557%,
    48% 45.0166%,
    49% 47.5021%,
    50% 50%,
    51% 52.4979%,
    52% 54.9834%,
    53% 57.4442%,
    54% 59.8688%,
    55% 62.2459%,
    56% 64.5656%,
    57% 66.8188%,
    58% 68.9974%,
    59% 71.0949%,
    60% 73.1059%,
    61% 75.026%,
    62% 76.8525%,
    63% 78.5835%,
    64% 80.2184%,
    65% 81.7574%,
    66% 83.2018%,
    67% 84.5535%,
    68% 85.8149%,
    69% 86.9892%,
    70% 88.0797%,
    71% 89.0903%,
    72% 90.025%,
    73% 90.8877%,
    74% 91.6827%,
    75% 92.4142%,
    76% 93.0862%,
    77% 93.7027%,
    78% 94.2676%,
    79% 94.7846%,
    80% 95.2574%,
    81% 95.6893%,
    82% 96.0834%,
    83% 96.4429%,
    84% 96.7705%,
    85% 97.0688%,
    86% 97.3403%,
    87% 97.5873%,
    88% 97.8119%,
    89% 98.016%,
    90% 98.2014%,
    91% 98.3698%,
    92% 98.5226%,
    93% 98.6613%,
    94% 98.7872%,
    95% 98.9013%,
    96% 99.0048%,
    97% 99.0987%,
    98% 99.1837%,
    99% 99.2608%,
    100% 100%,
    100% 0);
}

main {
  /*align: center;*/
  /*margin: 1rem 1rem;*/
  padding: 1rem;
  /*width: 70rem;*/
  margin-left: auto;
  margin-right: auto;
  min-height: 50vh;
}

@media screen and (min-width: 70rem) {
  main {
    width: 70rem;
  }
}

h1.cv-section {
  color: #137;
  border-bottom: solid 2px #222;
  padding: 0.2rem 0;
  margin: 1rem 0;
  /*
    The following two lines are used as a hack.
    When jumping to the sections by an on-page link,
    the resulting position is higher.
    So after jumping the sections appear not directly
    at the edge of the monitor or browser.
  */
  padding-top: 5.2rem;
  margin-top: -4rem;
}

div.cv-education-location,
div.cv-skills-kind,
div.cv-work-location {
  background-color: #eee;
  /*background: linear-gradient(#aaa, #fff);*/
  /*color: white;*/
  font-weight: bold;
  font-style: italic;
  font-size: larger;
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 10px 10px;
  /*border-bottom-right-radius: 0px 0%;*/
  /*border-top-right-radius: 0px 0%;*/
  /*background:
      linear-gradient(to right, rgba(255,255,255,1.0) 40%,rgba(0,0,255,0.2)),
      url("/images/banner.jpg") no-repeat center;
  background-blend-mode: lighten;
  background-attachment: fixed;
  background-size: contain;
  color: black;*/
}

div.cv-education-item,
div.cv-interests-item,
div.cv-skills-item,
div.cv-work-item {
  display: block;
  /*display: flex;*/
  /*border: solid 1px #222;*/
  margin: 1rem;
}

@media screen and (min-width: 40rem) {
  div.cv-education-item,
  div.cv-interests-item,
  div.cv-skills-item,
  div.cv-work-item {
    display: flex;
  }
}

div.cv-education-item-time,
div.cv-interests-item-kind,
div.cv-skills-item-name,
div.cv-skills-item-kind,
div.cv-work-item-time {
  /*display: table-cell;*/
  /*display: inline;*/
  /*width: 20%;*/
  font-style: italic;
  font-size: normal;
  /*float: left;*/
  padding: 0.5rem 1rem;
  margin-bottom: 0rem;
  text-align: left;
  /*margin: 0;*/
  /*border-bottom: solid 1px #555;*/
  /*background-color: #f9f9f9;*/
}

@media screen and (min-width: 40rem) {
  div.cv-education-item-time,
  div.cv-interests-item-kind,
  div.cv-skills-item-name,
  div.cv-skills-item-kind,
  div.cv-work-item-time {
    text-align: right;
    padding: 1.5rem 2rem;
    border-bottom-width: 0;
    border-right: solid 2px #222;
    width: 20%;
  }
}

div.cv-skills-item-name {
  font-style: normal;
  font-variant: small-caps;
  font-size: larger;
  font-weight: bold;
  color: #137;
}

div.cv-education-item-content,
div.cv-interests-item-content,
div.cv-skills-item-content,
div.cv-skills-item-level,
div.cv-work-item-content {
  /*display: table-cell;*/
  /*display: inline-block;*/
  /*width: 70%;*/
  /*float: left;*/
  /*margin: 5rem;*/
  padding: 0.5rem 2rem;
  /*margin: 0;*/
  /*border: solid 1px #222;*/
}

@media screen and (min-width: 40rem) {
  div.cv-education-item-content,
  div.cv-interests-item-content,
  div.cv-skills-item-content,
  div.cv-skills-item-level,
  div.cv-work-item-content {
    width: 70%;
  }
}


div.cv-education-item h1,
div.cv-skills-item h1,
div.cv-work-item h1,
div.cv-interests-item h1 {
  font-size: larger;
  font-variant: small-caps;
  color: #137;
}

div.cv-skills-item-level h1 {
  font-variant: normal;
  font-size: larger;
  color: #222;
  display: inline-flex;
}

div.cv-skills-item-level-duration {
  /*display: inline-block;*/
  padding: 0.5rem 0;
  float: right;
  /*display: inline-flex;*/
  /*align-self: right;*/
  /*align-content: space-between;*/
  color: #555;
}

main ul {
  padding-left: 1rem;
  /*line-height: 1.5rem;*/
}

main li {
  text-align: justify;
  font-size: normal;
}

aside.site-aside-nav {
  color: #222;
  /*position: absolute;*/
  position: sticky;
  width: 12vw;
  padding: 2rem;
  /*left: 89.3vw;*/
  top: 0rem;
  right: 2vw;
  font-weight: bolder;
  /*left: 50vw;*/
  /*float: right;*/
  /*bottom: 80vh;*/
  /*right: 50vw;*/
}

aside.site-aside-nav h1 {
  border-bottom: solid 2px #222;
}

aside.site-aside-nav ul {
  display: block;
  padding: 0;
  margin: 0;
  border-bottom: solid 2px #222;
}

aside.site-aside-nav ul li {
  display: block;
  color: #222;
  background-color: transparent;
  margin: 0;
  padding: 0.5rem;
  font-weight: bold;
  /*border: solid 1px #222;*/
  /*border-radius: 10px;*/
  /*margin: 1rem;*/
}

/*aside.site-aside-nav ul li:hover {
  background: linear-gradient(to right, #222, #57f);
}*/

aside.site-aside-nav a {
  padding: 0;
  margin: 0;
  color: inherit;
  text-decoration: none;
}

aside.site-aside-nav a:hover {
  text-shadow: 0 0 5px #222;
}

li.site-aside-nav-end {
  height: 2rem;
  clip-path: polygon(
    0
    0%, 0.669285%
    1%, 0.739154%
    2%, 0.816257%
    3%, 0.90133%
    4%, 0.99518%
    5%, 1.09869%
    6%, 1.21284%
    7%, 1.33869%
    8%, 1.4774%
    9%, 1.63025%
    10%, 1.79862%
    11%, 1.98403%
    12%, 2.18813%
    13%, 2.4127%
    14%, 2.6597%
    15%, 2.93122%
    16%, 3.22955%
    17%, 3.55712%
    18%, 3.91657%
    19%, 4.31073%
    20%, 4.74259%
    21%, 5.21536%
    22%, 5.73242%
    23%, 6.29734%
    24%, 6.91384%
    25%, 7.58582%
    26%, 8.31727%
    27%, 9.1123%
    28%, 9.97505%
    29%, 10.9097%
    30%, 11.9203%
    31%, 13.0108%
    32%, 14.1851%
    33%, 15.4465%
    34%, 16.7982%
    35%, 18.2426%
    36%, 19.7816%
    37%, 21.4165%
    38%, 23.1475%
    39%, 24.974%
    40%, 26.8941%
    41%, 28.905%
    42%, 31.0025%
    43%, 33.1812%
    44%, 35.4344%
    45%, 37.7541%
    46%, 40.1312%
    47%, 42.5557%
    48%, 45.0166%
    49%, 47.5021%
    50%, 50%
    51%, 52.4979%
    52%, 54.9834%
    53%, 57.4442%
    54%, 59.8688%
    55%, 62.2459%
    56%, 64.5656%
    57%, 66.8188%
    58%, 68.9974%
    59%, 71.0949%
    60%, 73.1059%
    61%, 75.026%
    62%, 76.8525%
    63%, 78.5835%
    64%, 80.2184%
    65%, 81.7574%
    66%, 83.2018%
    67%, 84.5535%
    68%, 85.8149%
    69%, 86.9892%
    70%, 88.0797%
    71%, 89.0903%
    72%, 90.025%
    73%, 90.8877%
    74%, 91.6827%
    75%, 92.4142%
    76%, 93.0862%
    77%, 93.7027%
    78%, 94.2676%
    79%, 94.7846%
    80%, 95.2574%
    81%, 95.6893%
    82%, 96.0834%
    83%, 96.4429%
    84%, 96.7705%
    85%, 97.0688%
    86%, 97.3403%
    87%, 97.5873%
    88%, 97.8119%
    89%, 98.016%
    90%, 98.2014%
    91%, 98.3698%
    92%, 98.5226%
    93%, 98.6613%
    94%, 98.7872%
    95%, 98.9013%
    96%, 99.0048%
    97%, 99.0987%
    98%, 99.1837%
    99%, 99.2608%
    100%, 100%
    100%,
    100% 0
  );
}

.site-nav-round-corner {
  clip-path: polygon(
    0% 0%,
    1.5866% 0.0125872%,
    3.17279% 0.0503458%,
    4.75819% 0.113266%,
    6.34239% 0.201332%,
    7.925% 0.314522%,
    9.5056% 0.452808%,
    11.0838% 0.616153%,
    12.6592% 0.804519%,
    14.2315% 1.01786%,
    15.8001% 1.25611%,
    17.3648% 1.51922%,
    18.9251% 1.80713%,
    20.4807% 2.11976%,
    22.0311% 2.45702%,
    23.5759% 2.81884%,
    25.1148% 3.20513%,
    26.6474% 3.61578%,
    28.1733% 4.0507%,
    29.692% 4.50978%,
    31.2033% 4.99289%,
    32.7068% 5.49992%,
    34.202% 6.03074%,
    35.6886% 6.58521%,
    37.1662% 7.16321%,
    38.6345% 7.76457%,
    40.0931% 8.38915%,
    41.5415% 9.0368%,
    42.9795% 9.70735%,
    44.4067% 10.4006%,
    45.8227% 11.1165%,
    47.2271% 11.8547%,
    48.6197% 12.6151%,
    50% 13.3975%,
    51.3677% 14.2017%,
    52.7225% 15.0275%,
    54.0641% 15.8746%,
    55.392% 16.743%,
    56.706% 17.6323%,
    58.0057% 18.5424%,
    59.2908% 19.473%,
    60.561% 20.4238%,
    61.8159% 21.3947%,
    63.0553% 22.3854%,
    64.2788% 23.3956%,
    65.4861% 24.425%,
    66.6769% 25.4736%,
    67.8509% 26.5408%,
    69.0079% 27.6266%,
    70.1475% 28.7306%,
    71.2694% 29.8525%,
    72.3734% 30.9921%,
    73.4592% 32.1491%,
    74.5264% 33.3231%,
    75.575% 34.5139%,
    76.6044% 35.7212%,
    77.6146% 36.9447%,
    78.6053% 38.1841%,
    79.5762% 39.439%,
    80.527% 40.7092%,
    81.4576% 41.9943%,
    82.3677% 43.294%,
    83.257% 44.608%,
    84.1254% 45.9359%,
    84.9725% 47.2775%,
    85.7983% 48.6323%,
    86.6025% 50%,
    87.3849% 51.3803%,
    88.1453% 52.7729%,
    88.8835% 54.1773%,
    89.5994% 55.5933%,
    90.2927% 57.0205%,
    90.9632% 58.4585%,
    91.6108% 59.9069%,
    92.2354% 61.3655%,
    92.8368% 62.8338%,
    93.4148% 64.3114%,
    93.9693% 65.798%,
    94.5001% 67.2932%,
    95.0071% 68.7967%,
    95.4902% 70.308%,
    95.9493% 71.8267%,
    96.3842% 73.3526%,
    96.7949% 74.8852%,
    97.1812% 76.4241%,
    97.543% 77.9689%,
    97.8802% 79.5193%,
    98.1929% 81.0749%,
    98.4808% 82.6352%,
    98.7439% 84.1999%,
    98.9821% 85.7685%,
    99.1955% 87.3408%,
    99.3839% 88.9162%,
    99.5472% 90.4944%,
    99.6855% 92.075%,
    99.7987% 93.6576%,
    99.8867% 95.2418%,
    99.9497% 96.8272%,
    99.9874% 98.4134%,
    100% 100%,
    100% 0
  );
  /*background-color: #222;*/
  width: 2vmax;
  height: 2vmax;
  position: absolute;
  right: 10vw;
  top: 0;
}

aside.site-main-aside {
  display: block;
  background-color: #555;
  /*background-color: rgba(64,64,64,0.9);*/
  /*background: linear-gradient(#fff,#222);*/
  text-align: center;
  vertical-align: middle;
  /*height: 3vmax;*/
  padding: 1rem;
  margin: 0;
  /*margin-bottom: -3.5rem;*/
  margin-bottom: -0.01rem;
  position: sticky;
  bottom: 0;
  /*top: 0vh;*/
  /*left: -5vw;*/
  /*width: 10vw;*/
  /*color: white;*/
  /*font-weight: bold;*/
  /*font-size: small;*/
  z-index: 0;
}

aside.site-main-aside ul {
  /*position: absolute;*/
  /*left: -18vw;*/
  /*top: 0vh;*/
  /*width: 15vw;*/
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 3;
}

aside.site-main-aside ul li {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 1rem;
}

aside.site-main-aside ul li a {
  text-decoration: none;
  color: white;
}

aside.site-main-aside ul li a:hover {
  text-shadow: 0px 0 10px white;
}
